%h1 Artfric

= link_to "Add Artwork", new_artwork_path

%h1 Artworks!
- @artworks.each do |artwork|
  =link_to (image_tag artwork.image.url(:small) ), artwork
  %h2= link_to artwork.title, artwork
  %p
    = artwork.comments.count
    Comments